@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

*{
    --primary-color: #948d28;
    --black: #010101;
    --white: #F3F3F3;
    --gray: #C4C4C4;
    --dark-gray: #7C7C7C;
}

body{
    top: 0; right: 0; bottom: 0; left: 0;
    padding: 0;
    margin: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--dark-gray);
}

/* NAVBAR */
.navbar{
    height: 50px;
}

.falconiBar{
    color: #7c7511 !important;
    font-weight: 700;
    padding-left: 2%;
    font-size: 20px;
}

.bg-whitecolor{
    background: var(--white);
}






/* PERFIL */
.container{
  margin: 5vh;
}

.row{
  width: 200vh;
}
.card-picture {
  min-width: 0;
  word-wrap: break-word;
  background-color: #c4c4c4;
  background-clip: border-box;
  margin-left: 15vh;
  margin-top: 15vh;
  border-radius: .25rem;
  border: 10vh;
}
.image{
  width: 30vh;
  margin-top: 15vh;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}
.card-informations{
  background-color: #c4c4c4;
  border-top: 10vh;
  border-radius: .25rem;
  margin-right: 10vh;
  margin-top: 15vh;
}
.botao{
  display: block;
  font-size: 20px;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #7c7511;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin-top: 2vh;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.col-1{
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 10vh;
}
.caixadetexto1{
  font-family: 'Public Sans', sans-serif;
  font-size: 20px;
  padding: 2vh;
  font-weight: bolder;
  text-align: center;
  width: 22vh;
  height: 9vh;
  border-radius: 10px;
  background: #fff;
  color: #7c7511;
  text-align: center;
}
.col-2{
  width: 50vh;
  height: 70vh;
  margin-left: 2vh;
  margin-top: 10vh;
  background: #C4C4C4;
  border-left: 5vh;
  
}
.caixadetexto2{
  font-family: 'Public Sans', sans-serif;
  font-size: 25px;
  padding-top: 1vh;
  border-left: 10vh;
  font-weight: bolder;
  text-align: center;
}







/* ESCOLAS CADASTRADAS */
  .editInfo{
    display: flex;
    flex-direction: row;
    margin-left: 5vh;
    margin-top: 3vh;
    background-color: #fff;
    border-radius: 1vh;
    padding: 1vh;
  }
  
  .optionsBox{
    background-color: #fff;
    size: 30vh;
    position: relative;
    border-radius: 1vh;
    padding: 0vh;
  }
  
  .col-md-2{
    background-color: #fff;
    margin-top: 5vh;
    margin-left: 5vh;
    border-radius: 1vh;
    text-align: center;
    padding: 1vh;
    font-size: 22px;
  }
  
  .editInfoBtns:link, .editInfoBtns:visited, .editInfoBtns:active{
    color: #7c7511;
    text-decoration: none;
  }
  
  .editInfoBtns:hover {
    color: black
  }
  
  .registeredSchoolsCanvas{
    background-color: #efefef;
    padding: 2vh;
    font-size: 20px;
    color: #010101;
    margin-top: -13vh;
    border-radius: 1vh;
    text-align: center;
  }
  
  .schoolsList{
    list-style-image: url(images/School-Icon.png);
  }






  