@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

*{
    --primary-color: #948d28;
    --black: #010101;
    --white: #F3F3F3;
    --gray: #C4C4C4;
    --dark-gray: #7C7C7C;
}

body{
    top: 0; right: 0; bottom: 0; left: 0;
    padding: 0;
    margin: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(179, 175, 175);
}



/* Editar Questionário */
.questionBtn{
  margin-bottom: 7px;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 3px;
  border: 1.5px solid rgb(205, 205, 205);
  background-color: var(--black);
  margin: 2px;
}

.question_Btn:hover{
  cursor: pointer;
  background-color: var(--primary-color);
}

.answersBtn{
  color: white;
  background-color: var(--black);
  border: 1px groove white;
  width: 27rem;
  height: 3rem;
}

.answersBtn:hover{
  cursor: pointer;
  background-color: var(--primary-color);
}

.modifyBtn{
  border-radius: 100px;
  margin: 1px;
  width: 2vw;
  height: 2vw;
}

.addQuestion2{
  border-radius: 5px;
  border: 1px solid var(--black);
  height: fit-content;
  margin: 2px;
  max-width: 50vw;
}


.addQuestion{
  border-radius: 5px;
  border: 1px solid var(--black);
  min-height: 12vh;
  margin: 2px;
  max-width: 50vw;
  margin-top: 2vh;
}

.weightAxleSize{
  width: 10vw;
}

.buttonShow{
  position: static;
  width: 30px;
  height: 27px;
  border-radius: 8px;
  border: 2px solid var(--black);
  margin-right: 1vw;
  margin-bottom: 0vh;
  float: right;
}

.axleShow{
  position: relative;
  margin-top: 1px;
}

.buttonShow, .questionShow{
  display: inline-block;
}



/* EDITAR CADASTRO */
.editProfile {
  background: #7c7c7c;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vh;
}
.edit{
  border-radius: 16px;
  background-color: #F3F3F3;
  color: #7c7511;
}
.labels{
  font-family: 'Public Sans', sans-serif;
}
.form-short{
  width: 50%;
}
.margin-top{
  margin-top: 36px;
}
.inputs{
  padding: 10px;
}
.form-control{
  background-color: #ecf0f1ed;
  display: flex;
  align-items: center;
  margin: 8px;
  border-radius: 10px;
  border: #7c7511;
}


.buttonEdition{
  margin-top: 15px;
  display: block;
  font-size: 20px;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #F3F3F3;
  background-color: #7c7511;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
  filter: drop-shadow(.1rem .1rem .5rem rgba(90, 90, 90, 0.3));
}

.save{
  text-decoration: none;
  color: #F3F3F3;
}

.save:hover{
  color: #F3F3F3;
}
.paddingForms{
  padding-top: 12px;
  padding-bottom: 20px;
}

.barraCinza{
  margin-top: 4vh;
  width: 100vw;
  background-color: var(--primary-color);
}

.surveyEditText{
  color: var(--white);
  font-family: 'Public Sans', sans-serif;
}

.button{
  display: block;
  font-size: 23px;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #7c7511;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.button:hover{
  background-color: #C4C4C4;
}

.bold{
  font-weight: bold;
}





/* NAVBAR */
.navbar{
    height: 50px;
}

.falconiBar{
    color: #7c7511 !important;
    font-weight: 700;
    padding-left: 2%;
    font-size: 20px;
}

.bg-whitecolor{
    background: var(--white);
}

.logo{
  width: 100px;
  padding: 5%;
}








/* PERFIL */
.container{
  margin-top: 5vh;
}

.card{
  padding: 10px;
  background-color: white;
  height: 450px;
  margin: 10px;
  border-radius: 16px;
  filter: drop-shadow(.1rem .1rem .5rem rgba(90, 90, 90, 0.3));
  font-family: 'Public Sans', sans-serif;
  font-weight: bolder;
}

.buttonPattern{
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 16px;
  filter: drop-shadow(.1rem .1rem .5rem rgba(90, 90, 90, 0.3));
  font-family: 'Public Sans', sans-serif;
  font-weight: bolder;
}

.card-profile{
  width: 20%;
  display: flex ;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-registration{
  width: 24%;
  display: flex ;
  
  align-items: center;
  align-content: center;
}

.card-picture {
  min-width: 0;
  word-wrap: break-word;
  background-color: #c4c4c4;
  background-clip: border-box;
  margin-left: 15vh;
  margin-top: 15vh;
  border-radius: 1rem;
  border: 10vh;
  font-family: 'Public Sans', sans-serif;
  font-weight: bolder;
}
.image{
  width: 30vh;
  margin-top: 15vh;
}

.card-hept{
  justify-content: center;
  align-items: center;
}

.radarimg{
  margin-left: 30px;
  width: 80%;
  height: 80%;
  object-fit: scale-down;
}

.card-agenda{
  display: block;
}
.botao{
  display: block;
  font-size: 20px;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #7c7511;
  font-weight: bolder;
  border: none;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border-radius: 16px;
  background-color: white;
  filter: drop-shadow(.1rem .1rem .5rem rgba(90, 90, 90, 0.3));
}
.botao2{
  display: block;
  font-size: 20px;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: white;
  font-weight: bolder;
  border: none;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border-radius: 16px;
  background-color: #7c7511;
  filter: drop-shadow(.1rem .1rem .5rem rgba(90, 90, 90, 0.3));
}
.botaoD{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.botaoE{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.botaoF{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
 
}
.width-profile{
  width: 20%;
}
h2.agenda::after{
  content: url(info-circle-fill.svg);
}
.scroll{
  overflow: auto;
  padding: 30px;
  margin: 10px;
}

.margem-card{
  margin: 10px;
}




















  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 25vh; /* Location of the box */
  padding-left: 40vh;
  padding-right: 40vh;
  padding-bottom: 25vh;
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 80vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #C4C4C4;
  width: 80vh;
  font-size: 20px;
  text-align: center;
}
.opcoes{
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2vh;
}

.botoesPerfil{
  display: block;
  font-size: 1.5rem;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #7c7511;
  background-color: #C4C4C4;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin-bottom: 3vh;
}
.botoesPerfil:hover{
  background-color: #C4C4C4;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button.disabled {
  pointer-events: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.08) 0 0);
}

.escurecer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.08) 0 0);
}








  