@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

*{
    --primary-color: #948d28;
    --black: #010101;
    --white: #F3F3F3;
    --gray: #C4C4C4;
    --dark-gray: #7C7C7C;
}

body{
    top: 0; right: 0; bottom: 0; left: 0;
    padding: 0;
    margin: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: #7C7C7C; */
}



/* QUESTIONARIO */

.questionBtn{
    margin-bottom: 1px;
    width: 70px;
    height: 70px;
    color: white;
    border-radius: 5px;
    border: 1.5px solid rgb(205, 205, 205);
    background-color: var(--white);
    margin: 20px;
}

.question_Btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}

.answers_Btn{
    color: var(--black);
    background-color: var(--white);
    font-weight: bold;
    margin: 0.5rem;
    border: 1px groove white;
    width: 27rem;
    height: 3rem;
    border-radius: 10px;
}

.answers_Btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}

.survey{
  background-color: var(--gray);
	max-width: 500px;
  overflow: auto;
	min-height: 300px;
	border-radius: 10px;
  position: relative;
  margin-top: 6vh;
}

.questionsBox{
  box-sizing: border-box;
  background-color: var(--gray);
  /* position: absolute; */
  max-height: 80vh;
  overflow: auto;
  border-radius: 10px;
  padding-bottom: 75vh;
  margin-left: 10vh;
  margin-top: 0vh;
}

.containerQuestions{
  box-sizing: border-box;
  background-color: #F3F3F3;
}

.heptagonGraphDivClass{
    background-color: white;
}





/* EDITAR CADASTRO */
/* .editProfile {
  background: #7c7c7c;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vh;
}
.edicao{
  background-color: #F3F3F3;
  color: #7c7511;
  width: fit-content;
  align-items: center;
}
.textprofile{
  font-family: 'Public Sans', sans-serif;
  padding-top: 2vh;
}
.labels{
  font-family: 'Public Sans', sans-serif;
}
.form-control{
  width: 50vh;
}
.botaoEdicao{
  display: block;
  font-size: 20px;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #F3F3F3;
  background-color: #7c7511;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin-left: 10vh;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
} */








/* NAVBAR */
.navbar{
    height: 50px;
}

.falconiBar{
    color: #7c7511 !important;
    font-weight: 700;
    padding-left: 2%;
    font-size: 20px;
}

.bg-whitecolor{
    background: var(--white);
}










/* PERFIL */
.container{
  margin: 5vh;
}

.row{
  margin-top: -10vh;
  width: 200vh;
}
.card-picture {
  min-width: 0;
  word-wrap: break-word;
  background-color: #c4c4c4;
  background-clip: border-box;
  margin-left: 15vh;
  margin-top: 15vh;
  border-radius: .25rem;
  border: 10vh;
  font-family: 'Public Sans', sans-serif;
  font-weight: bolder;
}
.image{
  width: 30vh;
  margin-top: 15vh;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem;
  background-color: #c4c4c4;
  border-radius: 5px;}
  
.card-informations{
  width: 55vw;
  border-top: 10vh;
  padding-right: 0vw;
  border-radius: .25rem;
  margin-top: 15vh;
  font-family: 'Public Sans', sans-serif;
  font-weight: bolder;
}
.botao{
  display: block;
  font-size: 10px;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #7c7511;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.botao:hover{
  color: #7c75115f;
}

.position_btn{
  margin-left: 45vw;
  margin-bottom: 2vh;
  font-size: 10px;
  width: max-content;
}


/* RESULTADOS */
.conteudo{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1rem;
  display: contents;
}
.top{
  height: 80%;
  width: 100%;
  overflow: hidden;
  background: #7C7C7C;
}
.titulo{
  color: honeydew;
  margin: 1rem;
  font-family: 'Public Sans', sans-serif;
}
.grafico{
  height: 400px;
  width: 100%;
  position: absolute;
  
}
.gridColuna{
  display: flex;
  width: 100%;
  height: 79.8vh;
  padding: 2px;
  position: absolute;
  background: rgba(220, 220, 220, 0.488);
  padding: 1rem;

}
.coluna{
  height: 400px;
  width: 100px;
  margin-left: 3.8%;
  background: rgba(220, 220, 220, 0.488);
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 16px;
}
.tituloColuna{
  width: 100px;
  height: 10px;
  bottom: 50px;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  font-family: 'Public Sans', sans-serif;
  margin-left: 5px;
}
.colunaPorcentagem{
  width: 10px;
  border-radius: 7px;
  height: 280px;
  background: lightgray ;
  bottom: 100px;
  position: absolute;
  margin-left: 45px;
}

.bolinha{
  width: 45px;
  border-radius: 25px;
  height: 45px;
  background: whitesmoke;
  border: 1px solid black;
  border-style: dashed;
  position: absolute;
  margin-left: 30px;
  top: 60px;
  display: flex;
  justify-content: center;
}
.porcentagemTitulo{
  font-size: 12px;
  font-style: normal;
  font-family: 'Public Sans', sans-serif;
  top: 15px;
  position: absolute;
}
.bolinhaVermelha{
  background: mistyrose;
}
.radarimg2{
  margin-left: 130vh;
  padding-top: 2vh;
  width: 60vh;
}
.resultados{
  margin-left: 145vh;
  margin-top: 5vh;
  background-color: #ecf0f1;
}
.porcentagem{
  width: 6px;
  height: 90%;
  background: #7c75115f;
  position: absolute;
  bottom: 7px;
  margin-left: 1.9px;
  border-radius: 5px;
}
.porcentagem2{
  width: 6px;
  height: 50%;
  background: #7c75115f;
  position: absolute;
  bottom: 7px;
  margin-left: 1.9px;
  border-radius: 5px;
}
.porcentagem3{
  width: 6px;
  height: 20%;
  background: #7c75115f;
  position: absolute;
  bottom: 7px;
  margin-left: 1.9px;
  border-radius: 5px;
}
.porcentagem4{
  width: 6px;
  height: 70%;
  background: #7c75115f;
  position: absolute;
  bottom: 7px;
  margin-left: 1.9px;
  border-radius: 5px;
}
.porcentagem5{
  width: 6px;
  height: 30%;
  background: #7c75115f;
  position: absolute;
  bottom: 7px;
  margin-left: 1.9px;
  border-radius: 5px;
}
.porcentagem6{
  width: 6px;
  height: 10%;
  background: #7c75115f;
  position: absolute;
  bottom: 7px;
  margin-left: 1.9px;
  border-radius: 5px;
}
.porcentagem7{
  width: 6px;
  height: 80%;
  background: #7c75115f;
  position: absolute;
  bottom: 7px;
  margin-left: 1.9px;
  border-radius: 5px;
}














.opcoes{
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2vh;
}

.botoesPerfil{
  display: block;
  font-size: 1.5rem;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #7c7511;
  background-color: #C4C4C4;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin-bottom: 3vh;
}
.botoesPerfil:hover{
  background-color: #C4C4C4;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}









  