@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

*{
    --primary-color: #948d28;
    --black: #010101;
    --white: #F3F3F3;
    --gray: #C4C4C4;
    --dark-gray: #7C7C7C;
}

body{
    top: 0; right: 0; bottom: 0; left: 0;
    padding: 0;
    margin: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--dark-gray);
}

/* NAVBAR */
.navbar{
    height: 50px;
}

.falconiBar{
    color: #7c7511 !important;
    font-weight: 700;
    padding-left: 2%;
    font-size: 20px;
}

.bg-whitecolor{
    background: var(--white);
}


/* EDITAR CADASTRO */
.container {
  background: #7c7c7c;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vh;
}
.edicao{
  background-color: #F3F3F3;
  color: #7c7511;
  width: fit-content;
  align-items: center;
}
.textprofile{
  font-family: 'Public Sans', sans-serif;
  padding-top: 2vh;
}
.labels{
  font-family: 'Public Sans', sans-serif;
}
.form-control{
  width: 50vh;
}
.botaoEdicao{
  display: block;
  font-size: 20px;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #F3F3F3;
  background-color: #7c7511;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin-left: 10vh;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
}


/* PERFIL */
.main-body {
  background-image: url(fotos/fundo\ 1.png);
  width: 100%;
  height: 92.3vh;
}
.row{
  width: 200vh;
}
.card-picture {
  min-width: 0;
  word-wrap: break-word;
  background-color: #c4c4c4;
  background-clip: border-box;
  margin-left: 15vh;
  margin-top: 15vh;
  border-radius: .25rem;
  border: 10vh;
  font-family: 'Public Sans', sans-serif;
  font-weight: bolder;
}
.image{
  width: 30vh;
  margin-top: 15vh;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}
.card-informations{
  background-color: #c4c4c4;
  border-top: 10vh;
  border-radius: .25rem;
  margin-right: 10vh;
  margin-top: 15vh;
  width: 120vh;
  font-family: 'Public Sans', sans-serif;
  font-weight: bolder;
}
.botao{
  display: block;
  font-size: 20px;
  font-family: 'Public Sans', sans-serif;
  font-style: 'thin';
  color: #7c7511;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
}















/* ESCOLAS CADASTRADAS */

.col-1{
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 10vh;
}
.caixadetexto1{
  font-family: 'Public Sans', sans-serif;
  font-size: 20px;
  padding: 2vh;
  font-weight: bolder;
  text-align: center;
  width: 22vh;
  height: 9vh;
  border-radius: 10px;
  background: #fff;
  color: #7c7511;
  text-align: center;
}
.col-2{
  width: 50vh;
  height: 70vh;
  border-radius: 10px;
  margin-left: 2vh;
  margin-top: 10vh;
  background: #C4C4C4;
}
.caixadetexto2{
  font-family: 'Public Sans', sans-serif;
  font-size: 25px;
  padding-top: 1vh;
  font-weight: bolder;
  text-align: center;
}


/* Editar Questionário */
.questionBtn{
  margin-bottom: 7px;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 3px;
  border: 1.5px solid rgb(205, 205, 205);
  background-color: var(--black);
  margin: 2px;
}

.question_Btn:hover{
  cursor: pointer;
  background-color: var(--primary-color);
}

.answers_Btn{
  color: white;
  background-color: var(--black);
  border: 1px groove white;
  width: 27rem;
  height: 3rem;
}

.answers_Btn:hover{
  cursor: pointer;
  background-color: var(--primary-color);
}

.modifyBtn{
  border-radius: 100px;
  margin: 1px;
  width: 2vw;
  height: 2vw;
}

.addQuestion{
  border-radius: 5px;
  border: 1px solid var(--black);
  height: fit-content;
  margin: 2px;
  max-width: 50vw;
}

.weightAxleSize{
  width: 10vw;
}

.buttonShow{
  position: static;
  background-color: #0D6EFD;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-right: 1vw;
  margin-top: 1vh;
  float: right;
}

.axleShow{
  position: relative;
  margin-top: 1px;
}

.buttonShow, .questionShow{
  display: inline-block;
}



  